*{
  box-sizing: border-box;
}

html{
  font-size: 10px;
}

body {
  background-color: white;
  width: 100%;
}

.container{
  background-color: white;
  margin: 0 auto;
  overflow: hidden;
  width: 100vw;
}

/*project purple = #590E56*/
/*font specs*/


a:link, a:visited{
  color: black;
}

a:hover{
  color: #FED180;
}

p{
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  line-height: 2;
  font-weight: 300;/* 400 for project.html*/
  letter-spacing: 0.5px;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 2; /*not there in project.html*/
}

h2 {
  font-size: 10rem;
  color: #9B6E9A;
  font-weight: bold;
}

h5{
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: .2.5rem;
  font-size: 3.6rem;
}

h6{
  font-family: 'Poppins', sans-serif;
  letter-spacing: .1rem;
  line-height: 2.4rem;
  font-size: 1.6rem;
}

b{
  font-weight:600;
}

.title{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 4rem;
  font-weight: 350;
  letter-spacing: .1rem;
  line-height: 2;
  padding-bottom: 4rem;
  padding-top: 6rem;
}

/*subtitle text*/
.subtitle{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 300;
}

/*body copy big*/
.bodycopy{
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  line-height: 3rem;
  letter-spacing: .1rem;
}

.smalltitle{
  width:100%;
  padding-top:8%;
  padding-bottom:2%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.captions{
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  letter-spacing: .1rem;/* 0.1rem in project page*/
  line-height: 200%;/*150% in project page*/
  text-align:center;
}

.fig{
  font-family: 'Josefin sans', sans-serif;
  font-weight: 500;
  letter-spacing: 0px;
  font-style: italic;
  color:#546E7A;
  padding-top:1.5rem;
}

.que{
  text-align: center;
}


/*all the flex containers common element. 800px for desktop version*/
.content {
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  justify-content: center;
  text-align:left;
  width: 800px;
}

.pcontent {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  justify-content: center;
  text-align:left;
  max-width: 800px;
}

/*container that is width 100%*/
.contentfull {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;
  text-align:left;

}


section {
  margin: auto;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}

.textblock{
  margin:5px;
  padding-bottom:4rem;
  padding-top:2rem;
}



/*button specifications*/

.aroundbutton{
  padding-top: 2rem;
  padding-bottom:6rem;
}

.casestudy{
  padding-top: 0;
}

a.button:link , a.button:visited {
  background-color: rgba(254, 209, 128, 60%);
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 200;
  border-radius: 24px;
  font-family: 'PT Sans', sans-serif;
  width: auto;
  letter-spacing: .2rem;
  text-decoration: none;
}

a.button:hover {
  background-color: #590E56;
  border: none;
  color: #FED180;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-radius: 24px;
  font-family: 'PT Sans', sans-serif;
  width: auto;
  letter-spacing: .2rem;
}

.approw{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 50px;
}

.appicon img{
  height: 60px;
  width: auto;
  padding-left:1rem;
  padding-right:1rem;
}

/*navbar specs*/

.flex-container{
    position:sticky;
    top:0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-family: 'PT Sans', sans-serif;
    font-size: 2.4rem;
    height: auto;
    width: 100%;
    padding: 2rem;

    padding-bottom:4rem;
    justify-content: space-between;
    align-items: center;
    }

.logo img{
      justify-content: left;
      height: 60px;
      width: 60px;
    }

li.about, li.logo, li.work, li.resume{
      justify-content: flex-end;
      display: flex;
      text-align: center;
      font-size: 1.6rem;
      flex-grow: 1;
      min-width: 7rem;
      padding: 2%;
      color:#6C586A;
}

.about a:link, .about a:visited, .work a:link, .work a:visited, .resume a:link, a:visited{
  color:rgb(80,80,80);
    padding:5px;
}

.about a:hover, .work a:hover, .resume a:hover{
  background-color: #9B6E9A;
  color:white;
  /* padding:5px; */
  text-transform: lowercase;:
}



li.logo {
      flex-grow:40;
      justify-content: left;
}

/*end of navbar specs*/

/* hero section */


.hero {
    height:100%;
    width:100%;
    display:flex;
    flex-direction: row;
  }

.herotop, .herobottom{
      display:flex;
      flex-direction: column;
}

.herotop{
  width:100%;
  text-align: center;
  font-weight: 500;
  font-size: 9rem;
  color: #9B6E9A;
  position: relative;
  z-index: 2;
  justify-content: center;
  align-items: center;
}

.herotext{
  width:100%;
  padding:2% 5%;
}

/* .yellow{
  color: #eaa221;
  text-align: left;
} */

.herobottom{
  z-index: 0;
  /* background-color: #9B6E9A; */
  color:#9B6E9A;
  padding:5% 0;
  padding-left:20%;
  padding-right:20%;
  text-align:center;
  justify-content: center;
  align-items: center;
  line-height: 5rem;
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  font-weight: 300;
  letter-spacing: .2rem;
}

.arrow img{
  padding-top: 45px;
  padding-bottom: 10px;
}

/* end of hero section  */

/* recent project work section */
.recent{
  align-items: center;
  justify-content: center;
  align-content: center;
  width:95%;
}

.Main img{
  padding:10% 0 0 0;
  width: auto;
  height: 50rem;
}

.main{
  background-color: red;
}



.main-bl img{
  padding: 0 5% 0 1%;
  width: auto;
  height: 400px;
}

.proj-Logo img{
  padding-top:20px;
  height:100px;
  width:auto;
}


.proj-Title {
  height: auto;
  justify-content: center;
  align-items:center;
  align-content: center;
  text-align: center;
  font-weight: 300;
  font-size: 5rem;
  padding:2rem;
}

.proj-Content{
  align-items: center;
  justify-content: center;
  align-content: center;
  padding-bottom:50px;
  padding-left: 25%;
  padding-right: 25%;
}

.viewcasestudy{
  padding: 8rem;
  padding-top:0
}

/* end of recent project work section */

/* footer section */
.footerbox{
  background-color: rgba(89,14,86,40%);
  padding: 3rem 4rem 1rem 4rem;
  padding-bottom: 2rem;
  height: auto;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  text-align: center;
  width:100vw;
}

.footcontainer{
  display: flex;
  flex-wrap: wrap;
  flex-direction:row;
  font-family: 'Poppins', sans-serif;
  height: auto;
  width: 100%;
  justify-content: space-around;
  align-items: baseline;
}

.social{
  padding: 0px;
  display: flex;
  justify-content:center;
  align-items: center;
  align-self: center;
}



li.mail img, li.github img, li.linkedin img{
      padding:0 10px;
      display: flex;
      min-width: 1.6rem;
      width: auto;
      height: 30px;
}

.footer{
  letter-spacing: normal;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3rem;
}

.connect {
  letter-spacing: .5rem;
  font-size: 3.6rem;
  line-height: 4rem;
  font-weight: 400;
}

.texttop .textbelow{
  justify-content: center;
  text-align: center;
}

/* end of footer section */

/*about me page*/
.designer img{
  position:relative;
  width:100vw;
  height:80rem;
  object-fit:cover;
}

.aboutmepage{
  position:absolute;
  z-index: 1;
  background-color: transparent;
}

.aboutsummary{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* padding-top:55rem; */
}

.abouttitle{
  font-size: 5rem;
  font-family:'Josefin sans', sans-serif;
  height: auto;
  margin:auto;
  padding: 4rem;
  padding-top:8rem;
}

.aboutme{
  justify-content: center;
  text-align: center;
}

.seemywork{
  margin: 5rem auto;
}

.quesbox, .ansbox{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  width:100%;
}

.quesbox{
  padding-top:5rem;
}

.ansbox {
  padding:3rem 0;
  padding-left: 3.5rem;
}

.ques{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 3.5rem;
  line-height: 4rem;
}

.small{
  line-height: 2rem;
  font-size:3rem;
}

.ans{
  font-size: 1.8rem;
}

.full{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width:100%;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.interest{
  justify-content: center;
  padding: 6rem;
  padding-bottom:4rem;
  font-size: 3.5rem;
  letter-spacing: normal;
  font-weight: 300;
}

.getintouch{
  padding:10rem 8rem;
  padding-top:0;
}

.mobileapp img{
  width:80vw;
  height:auto;
  margin-left:auto;
  margin-right: auto;
}

.cxm img{
  width:300px;
  height:auto;
  padding-top:2rem;
  padding-bottom:1rem;
}

/* STO project page details */

/*summary of project*/

.intro{
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width:90%;
  height: auto;
  padding-top: 1%;
}


.summary{
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  overflow:auto;
  width: 100%;
  align-items: center;
}

.Main, .proj-Logo, .proj-Title, .proj-Content{
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.proj-Title {
  padding: 3% 0;
  font-weight: 300;
  font-size: 5rem;
}

.proj-Content{
  width:100%;
  font-size: 1.8rem;
  line-height: 2rem;
}

.delv-container{
  align-items: flex-start;
  justify-content: space-between;
  text-align:center;
  padding: 6rem 0;
  max-width:750px;
}

.design, .delv, .tools{
  min-width: 19rem;
}
/*problem solution section*/

.problemsolution{
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left, .right{
  display: flex;
  flex-direction: column;
}

.left {
  justify-content: left;
  text-align: left;
  width: 60%;
}

.right img{
  height: auto;
  width: 23rem;
  filter: drop-shadow(0px 3px 9px #B3C1C7);
}

.apppage img{
  width:100%;
  height:auto;
}
/* .prob{
  padding-bottom: 4.5rem;
} */

/*color background sections*/
.colorbk{
  width:100%;
  height:auto;
  background-color: rgba(205, 169, 160, 40%);
  padding:5rem 0;
}

.current{
  text-align: left;
}

.readmore{
  display:flex;
  color: #590E56;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-decoration: none;
  text-transform:lowercase;
  background-color: none;
  border-radius: 0;
  border-bottom: 1px solid #eaa221;
  line-height: normal;
  padding: 0;
  margin:50px;
}

.readmore > a:hover{
  color:black;
  background-color: rgba(254, 209, 128, 60%);
  border-bottom:none;
}

/*screen width for images*/
.content-img{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100rem;
}

/* height for images in colored backgrounds*/
.ninefive img, .ui img, .account img, .thumbsup img,
.back img, .comp img, .hand img, .plus img{
  height: 8rem;
  padding: 5px;
  width: auto;
}

.i1 img, .i2 img, .i3 img, .i4 img{
  height: 16rem;
  padding: 5px;
  width: auto;
}

.ui, .account, .thumbsup, .ninefive,
.back, .comp, .hand, .plus, .i1, .i2, .i3, .i4{
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  padding: 3rem;
  align-items: center;
  text-align: center;
}


/* next and previous project bar*/

.bottomnavbar{
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: wrap;
  height: auto;
  padding: 10rem 10rem;
  width: 100%;
}

.bottomflexcontainer{
  overflow: hidden;
  width: 100%;
  align-items: center;
  align-content: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.rightarrow img, .leftarrow img{
  flex-grow: 1;
  height: 2rem;
  justify-content: space-around;
  width: 2rem;
}

.rightarrow img, li.prev{
  align-items:flex-start;
  justify-content:flex-start;
  text-align:left;
}

.leftarrow img, li.next{
  align-items:flex-end;
  justify-content: flex-end;
  text-align:right;
}

li.prev, li.next, li.rightarrow, li.leftarrow{
  color: #590E56;
  display: flex;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.6rem;
  letter-spacing: .1rem;
  padding: 1rem 2rem;
}

li.prev {
  flex-grow:20;
}

li.next {
  flex-grow:20;
}

a:visited , a:link{
        color: #590E56;
        text-decoration: none;
}

a:hover{
  color: #eaa221;
}

/*persona section*/

.persona-cont {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.personaboy, .personagirl, .bubbles{
  padding:0 1rem;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.personaboy img, .personagirl img{
  width: 24rem;
  height: auto;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.bubbles{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.box1 {
  margin: 6px auto;
  padding: 1rem;
  text-align: center;
  position: relative;
  font-size: 1.2rem;
  letter-spacing: 1px;
  line-height: 20px;
}

.speechbubbleboy{
  border: 4px solid #590E56;
}

.speechbubblegirl{
  border: 4px solid #FED180;
}

/* speech bubble boy */

.speechbubbleboy:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid #590E56;
  border-right: 10px solid transparent;
  border-top: 10px solid #590E56;
  border-bottom: 10px solid transparent;
  right: -21px;
  top: 6px;
}

.speechbubbleboy:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 7px solid #fff;
  border-right: 7px solid transparent;
  border-top: 7px solid #fff;
  border-bottom: 7px solid transparent;
  right: -11px;
  top: 10px;
}


/* speech bubble girl */

.speechbubblegirl:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border: 1px solid #FED180;
  border-left: 10px solid transparent;
  border-right: 10px solid #FED180;
  border-top: 10px solid #FED180;
  border-bottom: 10px solid transparent;
  left: -21px;
  top: 6px;
}

.speechbubblegirl:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 7px solid transparent;
  border-right: 7px solid #fff;
  border-top: 7px solid #fff;
  border-bottom: 7px solid transparent;
  left: -11px;
  top: 10px;
}

/*competitive analysis section*/

.comp-cont{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: auto;
  width: 100%;
  padding:5%;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.comp1, .comp2, .comp3{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.comp1 img, .comp2 img, .comp3 img{
  width: auto;
  height: 10rem;
  margin:0 5%;
}


/*user flows section*/

.userflows{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  align-content: center;
  justify-content:center;
  padding: 0 0;
  height: auto;
  width:100%;
  padding-bottom: 1rem;
}

.flow1 img, .flow2 img{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  align-content: center;
  max-height:40rem;
  width:auto;
  margin:2rem;
  margin-bottom:.5rem;
  /*filter: drop-shadow(0px 3px 9px #B3C1C7);*/
}

div.flow3, div.flow4 {
  padding: 2rem;
  padding-bottom: 4rem;
}

div.pf1, div.pf2 {
  padding: 2rem;
  padding-bottom: 4rem;
}

.flow3 img, .flow4 img{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  align-content: center;
  max-height:auto;
  width:80%;
  margin-left:auto;
  margin-right:auto;
  padding-top:1rem;
  padding-bottom:2rem;
  /*filter: drop-shadow(0px 3px 9px #B3C1C7);*/
}

.pf1 img, .pf2 img {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  align-content: center;
  max-height:auto;
  margin-left:auto;
  margin-right: auto;
  width:50%;
  padding:1rem;
}

div.fb1, div.fb2{
  padding: 2rem;
  padding-bottom: 4rem;
}

.fb1 img, .fb2 img {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  align-content: center;
  height:auto;
  margin-left:auto;
  margin-right: auto;
  width:90%;
  padding:1rem;
}

div.conc1, div.conc2{
  padding: 2rem;
  padding-bottom: 4rem;
}

.conc1 img, .conc2 img{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  align-content: center;
  max-height:auto;
  margin-left:auto;
  margin-right: auto;
  width:65%;
  max-height:60vh;
  padding:1rem;
}

.sitemap img{
  width: 100%;
  height: auto;
}

.sketch{
  align-items: center;
  align-content: center;
  justify-content: center;
}

.sketch img{
  height: 45rem;
  width: auto;
  padding: 0rem 2rem;
}

/*images of "creating new file" screens*/
.createnewfile{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content:center;
  padding: 5rem 0;
}

.newfile1 img, .newfile2 img, .newfile3 img, .newfile4 img{
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  height: 32rem;
  width: auto;
  padding:0 1rem;
}

.brandingimg{
  align-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:flex-start;
  padding:5rem 0;
}

/* color palette and text image*/

.palette {
  align-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  justify-content:space-around;
  width: 400px;
}

.maintext{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  justify-content: space-between;
  padding: 10px 0;
  width:100%;
}
.roboto img{
  width:40rem;
  height: auto;
  padding:0 10px;
}

.box{
  justify-content:center;
  width: 28%;
}

.box-bl{
  justify-content:center;
  width: 25%;
}

.dot {
  border-radius: 50%;
  display: inline-block;
  height: 50px;
  width: 50px;
}

.c1{
  background-color: #745AA6;
}

.c2{
  background-color: #2F75B5;
}

.c3{
  background-color:#1896BE;
}

.c4{
  background-color:#4C5A5D;
}

.c5{
  background-color:#BBC3C6;
}

.c6{
  background-color:#F2F2F2;
}

.b1{
  background-color:#4A7337;
}

.b2{
  background-color:#6B8C21;
}

.b3{
  background-color:#C4CB6B;
}

.herotop{
  align-items:
}
.b4{
  background-color:#FED86D;
}

.b5{
  background-color:#FEE58B;
}

.b6{
  background-color:#EBB203;
}

.b7{
  background-color:#777C7E;
}

.b8{
  background-color:#3A3D3E;
}

.b9{
  background-color:#AE1011;
}

.b10{
  background-color:#D95628;
}

.b11{
  background-color:#CE8342;
}

.b12{
  background-color:#704012;
}


.moodboard img{
  height:auto;
  width:100%;
  display:flex;
  justify-content:center;
  align-items: center;
  align-content: center;
}

.logoimg{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  justify-content: space-between;
  padding: 6rem 0;
}

.bllogos{
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 6rem 0;
}

.l1 img, .l2 img, .l3 img{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding:0 20px;
  width:100%;
}

.l2 img, .l3 img{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  padding:0;
  width:100%;
}

.bl1 img, .bl2 img, .bl3 img{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  padding:0;
  width:auto;
  height:400px;
}

.bl2 img, .bl3 img{
  padding-top: 20px;

}
/* .bl2 img, .bl3 img{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding:0;
  width:25%;
} */

/*preference testing*/

.preference{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  justify-content: center;

  width: 100%;
}

.row1, .row2, .row3{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.row1a, .row2a, .row3a,.row4a{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.mobile{

}

.s1a img, .s1b img{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 10px 20px;
  height: 600px;
  width: auto;
  filter: drop-shadow(0px 3px 9px #B3C1C7);
}

.s2a img, .s2b img{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 10px 20px;
  height: 600px;
  width: auto;
  filter: drop-shadow(0px 3px 9px #B3C1C7);
}

.s3a img, .s3b img{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 10px 20px;
  height: 600px;
  width: auto;
  filter: drop-shadow(0px 3px 9px #B3C1C7);
}

.s4a img, .s4b img{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 10px 20px;
  height: 600px;
  width: auto;
  filter: drop-shadow(0px 3px 9px #B3C1C7);
}



.img1a img, .img1b img{
  filter: drop-shadow(0px 3px 9px #B3C1C7);
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  height: auto;
  justify-content: center;
  padding: 10px 20px;
  width: 600px;
}

.img2a img, .img2b img{
  filter: drop-shadow(0px 3px 9px #B3C1C7);
  display: flex;
  height: auto;
  justify-content: center;
  padding: 10px 20px;
  width: 600px;
  height: auto;
}

.img3a img, .img3b img{
  filter: drop-shadow(0px 3px 9px #B3C1C7);
  display: flex;
  flex-direction: row;
  height:30rem;
  width:auto;
  justify-content: center;
  padding: 1rem 2rem;
}

.threephone{
  align-items: center;
  align-content: center;
  justify-content: center;
}

.threephone img{
  height: 45rem;
  width: auto;
  padding: 5rem 2rem;
}

/*high fidelity prototyping*/

.prototype{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.srow1, .srow2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 50px 20px;
}

.blrow1, .blrow2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 50px 20px;
}

.s1 img, .s2 img, .s3 img, .s4 img, .s5 img, .s6 img,
.sbl1 img, .sbl2 img,.sbl3 img, .sbl4 img, .sbl5 img, .sbl6 img, .sbl7 img, .sbl8 img{
  align-items: center;
  display: flex;
  height: 45rem;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 0px 10px;
  width: auto;
}


.personas{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

}

#secondframe{
  height:auto;
  width:100%;
  overflow:auto;
}


#firstframe{
  height: auto;
  width: auto;
  overflow:auto;
}

#firstframe1{
  height: auto;
  width: auto;
  overflow:auto;
}

#personaframe1{
  height: auto;
  width: auto;
  overflow:auto;
}

.personas-bl img{
  padding: 0 5%;
}

#thirdframe{
  height: auto;
  width: auto;
  overflow:auto;
}




@media screen and (max-width: 992px) {


.main-bl img{
  padding:0;
  width:100%;
  height:auto;
}

    /*navbar*/
    .flex-container{
      width:100%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      overflow: hidden;
      justify-content: space-between;
      align-items: center;
      padding: 3rem;
    }

    li.about, li.work, li.resume{
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    li.logo {
      width: 100%;
      padding-bottom: 3rem;
      justify-content: center;
    }

    section {
      margin: auto;
      width: 100%;
      overflow: hidden;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
      align-items: center;
      text-align: center;
    }


  /*Hero section*/

  .hero {
      height:100%;
      display:flex;
      flex-direction: row;
  }


  .herotop{
    width:30rem;
    font-weight: 400;
    font-size: 4.5rem;
    padding:0;
    text-align: center;
    justify-content: left;
    align-items: left;
  }

  .herobottom{
    height:100%;
    padding:10% 20%;
    line-height: 4rem;
    font-size: 1.6rem;
  }

  .arrow img{
    padding:0;
    padding-bottom: 10px;
  }

  .Main img{
    justify-content: center;
    width:300px;
    height:auto;
  }


  .proj-Logo img{
    height: 60px;
    width: auto;
    margin:0;

  }

  .proj-Title {
    justify-content: center;
    height: auto;
    font-weight: 300;
    font-size: 3rem;
    padding: 2rem 2rem;
  }

  .proj-Content{
    justify-content: center;
    padding: 2rem 5rem;
    padding-top: 0;
  }

  .viewcasestudy{
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-top: 0;
    padding-bottom: 12rem;
  }

  .connect{
    letter-spacing: 0rem;
    font-size: 3rem;
  }

  .footerbox{
    display: flex;
    flex-direction: column;
    padding: 4rem;
    height: auto;
  }

  .footcontainer{
    display: flex;
  }

  .textbelow , .social, .texttop {
    padding: 1rem 0;
  }

  .aboutmepage{
    position:static;
    background-color:white;
  }

  .designer img{
    position:relative;
    width:100%;
    height:auto;
    justify-content: center;
  }

/*about me page*/

  .content {
    width: 100vw;
    padding:0 3%;
  }

  .aboutsummary{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* padding-top:55rem; */
  }

  .abouttitle{
    text-align: center;
    width:100%;
    font-size: 4rem;
    line-height: 5rem;
    padding: 10%;
  }

  .aboutme{
    justify-content: center;
    text-align: center;
  }

  .seemywork{
    margin: 5rem auto;
  }

  .quesbox, .ansbox{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    width:100%;
  }

  .quesbox{
    padding-top:5rem;
  }

  .ansbox {
    padding:3rem 0;
    padding-left: 3.5rem;
  }

  .ques{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3.5rem;
    line-height: 4rem;
  }

  /*body copy big*/
  .bodycopy{
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    line-height: 3rem;
  }

  .ans{
    font-size: 1.8rem;
  }

  .full{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:100%;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .interest{
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding:4rem;
    padding-bottom:4rem;
    font-size: 3.5rem;
    letter-spacing: normal;
    font-weight: 300;
    line-height: 4rem;
  }

  .getintouch{
    padding:10rem 8rem;
    padding-top:0;
  }

/* STO project page  */

  /*navbar*/

  li.about, li.work, li.resume{
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  li.logo {
    width: 100%;
    padding-bottom: 3rem;
    justify-content: center;
  }

    /*all the flex containers common element. 800px for desktop version*/
  .content {
    width: 80vw;
  }

.summary{
  width:100%;
  align-items: center;
  justify-content: center;
  align-content: center;
}

  .pcontent{
    width:85%;
    align-items: center;
    justify-content: center;
    align-content: center;
  }

  /*container that is width 100%*/
  .contentfull {
    padding: 1rem;
  }

  .div{
    padding: 0px;
    justify-content: center;
  }

  .proj-Main img{
    width:100%;
    height:auto;
  }

  .proj-Title{
    padding: 2% 0;
    font-weight: 300;
    font-size: 3.5rem;
  }


  .proj-Content{
    width:80%;
    font-size: 1.6rem;
    line-height: 3rem;
    justify-content: center;
    text-align: center;
    align-items: center;
  }


  .viewcasestudy{
    padding: 8rem;
    padding-top:2rem;
  }

  a:link.button a:visited.button{
    font-size: 1.4rem;
  }

  a:hover.button{
    font-size: 1.4rem;
  }

  .delv-container{
    padding-top: 0px;
    padding:0 10%;
    text-align:center;
    justify-content:center;
    align-items:center;
    width:auto;
  }

  .design, .deliv , .tools{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    padding:2rem 0;
  }



  /*problem solution section*/

  .problemsolution{
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .left, .right, .prob,.soln{
    display: flex;
    flex-direction: column;
    padding:2rem 0;
  }

  .left {
    width: 100%;
  }



  /* .prob{
    padding-bottom: 4.5rem;
  } */

  /*color background sections*/

  /*screen width for images*/
  .content-img{
    flex-direction: column;
    flex-basis: 100%;
    width: 80%;
    align-items: center;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .ui, .account, .thumbsup, .ninefive,
  .back, .comp, .hand, .plus{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    padding: 3rem;
    align-items: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width:600px;
  }

  /* next and previous project bar*/

  .bottomnavbar{
    padding: 4rem;
  }

  li.prev, li.next, li.rightarrow, li.leftarrow{
    padding: 1rem 2rem;
  }

  .colorbk{
    padding:5rem 2rem;
  }

/*readmore buttons*/

.readmore{
  text-align: center;
  border-top: 1px solid #eaa221;
  padding:2px 0;
  background-color: transparent;
}

.readmore > a:hover{
  background-color: rgba(254, 209, 128, 60%);
  border-bottom:none;
  border-top:none;
}

  /*persona section*/

  .persona-cont {
    display: flex;
    flex-direction: column;
  }

  .personaboy, .personagirl, .bubbles{
    padding:1rem 1rem;
    display: flex;
    flex-direction: column;
  }

  .personaboy img, .personagirl img{
    width: 30rem;
  }

  .box1 {
    margin: 0px auto;
    width:21rem;
    height: auto;
    padding: 2rem;
    position: relative;
  }

  .speechbubbleboy,.speechbubblegirl{
    margin: 4px auto;
  }

  /*competitive analysis section*/

  .comp-cont{
    padding: 4rem 0;
  }

  .comp1 img, .comp2 img, .comp3 img{
    width: auto;
    height: 8rem;
    margin:5%;
  }

  .comp1 , .comp2 , .comp3 {
    justify-content: center;
  }

  /*user flows section*/

  .userflows{
    padding:0;
  }

  .flow1 img, .flow2 img{
    width: 33rem;
    padding: 5rem 0rem;
  }





  /*images of "creating new file" screens*/
  .createnewfile{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: auto;
    width:100%;
    padding:2rem 0;
    justify-content:space-around;
  }

  .newfile1 img, .newfile2 img, .newfile3 img, .newfile4 img{
    flex-wrap: wrap;
    flex-direction: column;
    height: auto;
    width: 28rem;
  }

/* color palette and text image*/

.brandingimg{
  justify-content:center;
}

.palette {
  min-width: 30rem;
  padding: 2rem 4rem;
}

.maintext{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  justify-content: flex-start;
  padding: 10px;
  min-width:30rem;
}

.roboto img{
    padding: 2rem 4rem;
}

.box{
    width: 30%;
}

.box-bl{
    width: 25%;

}

.logoimg{
  padding: 0;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.l1 img, .l2 img, .l3 img{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2rem 0;
  height: auto;
  width: 100%;
}

.l2 img, .l3 img {
  height: auto;
  width: 30rem;
}

/*preference testing*/



.row1, .row2, .row3, .row4{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  height: auto;
  width:100%;
}

.img1a img, .img1b img, .img2a img, .img2b img{
  height: auto;
  padding: 1rem 0;
  width: 32rem;
}

.img3a img, .img3b img{
  width: 15rem;
  height: auto;
  padding: 1rem 0;
}

.threephone img{
  margin: 5px auto;
}

.sketch img{
  margin: 5px auto;
}

/*high fidelity prototyping*/

.s1 img, .s2 img, .s3 img, .s4 img, .s5 img, .s6 img{
  height: 39rem;
  padding: 0 2rem;
}

.srow1{
  padding-right: 0px;
}

.srow2{
  padding-left: 0px;
}

  #firstframe{
    padding: 2rem;
    height:600px;
    width:90vw;
    overflow: scroll;
    overflow-y: hidden;
  }


  #firstframe1{
    padding: 2rem;
    height:600px;
    width:90vw;
    overflow: scroll;
    overflow-y: hidden;
  }

  #thirdframe{
  padding: 2rem;
  height:600px;
  width:90vw;
  overflow: scroll;
  overflow-y: hidden;
}

  #secondframe{
    height:500px;
    width:auto;
    overflow:auto;
    scroll-behavior: smooth;
    overflow-y: hidden;
  }

  /* .personas img{
    max-width: 100%;
   height: auto;

  } */

  #personaframe{
    object-fit: cover;
    padding: 2rem;
    height: 100%;
    width:auto;
    overflow: scroll;
    overflow-y: hidden;
    overflow-x: visible;
    object-position:center;
  }

  .contentfull{
    padding:0;
    width:100vw;
  }

  .designer{
    display:flex;
    flex-grow: 1;
    flex-basis: 100%;
  }

  #myframe{
    height:300px;
    width:100vw;
    overflow:hidden;
  }

  .main-bl img{
    padding: 0 5% 0 1%;
    width: 100%;
    height: auto;
  }

.proj-Content{
  width:80%;
  padding:0px;
}

.subtitle{
  text-align: center;
}

.bllogos{
  padding:2rem 0;
}

.bl1 img, .bl2 img, .bl3 img{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding:2rem 1rem;
  width:100%;
  height:auto;
}

.sbl1 img, .sbl2 img,.sbl3 img, .sbl4 img, .sbl5 img, .sbl6 img, .sbl7 img, .sbl8 img{
  align-items: center;
  display: flex;
  height: 45rem;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 3rem 10px;
  width: auto;
}

.blrow1, .blrow2{
  padding: 2rem 0;
}

}

.aroundbutton.casestudy{
  padding:2rem;
  padding-bottom:10rem;
}

}

@media screen and (max-width: 320px){
.herotop{

}

}
